# System files
.DS_Store

# Dependency directories
node_modules/

# Build output
dist/

# JSON data files (placeholder)
*.json
honor_system_data.json

#python cache files
__pycache__/
# the command delete the existing file in a .gitignore file
# git rm -r --cached .


#key for llm api
key.env

## log or chat history
chathistory/*